<footer>
  <a rel="me" href="https://github.com/"
    ><img src="/assets/images/icons/github.svg" class="icon" alt="Github" title="link to my Github page"
  /></a>

  <a rel="me" href="https://bandcamp.com/"
    ><img src="/assets/images/icons/bandcamp.svg" class="icon" alt="Bandcamp" title="link to my music on bandcamp"
  /></a>

  <a href="https://creativecommons.org/licenses/by-nc-sa/4.0//"
    ><img src="/assets/images/icons/cc.svg" alt="Creative Commons" title="CC BY-NC-SA 4.0" class="icon"></a
  >
</footer>
